
<div class="project-details-container">
  <app-spinner [spinnerClass]="'spinner spinner-big spinner-fixed-bottom'" *ngIf="isLoadingProjectDetails; else details_template"></app-spinner>

  <ng-template #details_template>
    <div class="project-detail-content">
      <div> 
        <img src="assets/guitar.jpg" />
        <p><span>CONTRIBUTORS</span></p>

        <ul>
          <li [style.backgroundImage]="'url('+ contributor.img +')'" *ngFor="let contributor of contributors">
            <div *ngIf="!contributor.img">
              <i class="material-icons">person</i>
            </div>
          </li>
        </ul>
      </div>


      <div>
        <p>
          <span>{{project.name}}</span> 
          <span>{{project.creationDate | date: 'medium'}}</span>
        </p>
        <article>
            {{project.description}}
        </article>
      </div>


      <div>
        <p><span>TASKS CURRENTLY IN PROGRESS STATUS</span></p>
        <app-tasks-list [items]="project.tasks" [limit]="'10'">

        </app-tasks-list>
      </div>
      
    </div>

    <div class="btn-container">
        <button class="circle-btn">
          <a [routerLink]="['/manage', project.id]">Go to manage</a>
        </button>
    </div>

  </ng-template>

</div>
    
