.project-details-container{
    padding: 55px;
    box-sizing: border-box;
    .btn-container{
        text-align: center;
        margin-top: 45px;
    }
    .project-detail-content{
        min-height: 60vh;
        display: flex;
        justify-content: space-between;
     
        & > div{
            display: flex;
            width: 30%;
            flex-flow: column;
        }
        div:first-of-type{
            img{
                height: auto;
                width: 100%;
            }
            p{
                padding: 15px 15px 0 15px;
                span{
                    color: #707070;
                    font-weight: bolder;
                }
            }
            ul{
                display: flex;
                flex-flow: wrap;
                padding: 0 15px;
                li{
                    position: relative;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    background-size: cover;
                    background-position: center;
                    margin: 10px;
                    .avatar{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #424242;
                        color: #98EE99;
                    }
                    .user-details-cart{
                        position: fixed;
                        left: 0;
                        z-index: 3;
                        width: 350px;
                        cursor: initial;
                        bottom: 0;
                        padding-bottom: 25px;
                        height: 100%;
                        background: rgba(0,0,0,.6);
                        color: white;
                        display: flex;
                        flex-flow: column;
                        .circle-btn{
                            margin: auto auto 0 auto;
                            width: 90%;
                        }
                        .user-header{

                        }
                        .user-data{
                            p{
                                padding: 15px;
                                color: #E4E4E4;
                                span{
                                    color: #98EE99;
                                }
                            }
                        }
                    }
                    i{
                        z-index: 1;
                        font-size: 22px;
                    }
                }
            }
        }
        div:nth-of-type(2), 
        div:nth-of-type(3){
            p{
                line-height: 25px;
                padding: 0; margin: 0;
            }
        }
        div:nth-of-type(2){
            p{
                display: flex;
                flex-flow: wrap;
                span:first-of-type{
                    color: #707070;
                    text-transform: uppercase;
                    font-weight: bolder;
                }
                span:last-of-type{
                    color: #A0A0A0;
                    margin-left: auto;
                }
            }
            article{
                padding: 15px;
            }
        }

        div:last-of-type{
           p{
               font-weight: bolder;
               color: #707070;
               font-size: 14px;
           }
           .label-btn{
               color: #D47D7D;
               font-weight: bolder;
               width: 175px;
               margin: 30px auto 0 auto;
           }
        }
    }
}
.add-task-container{
    padding: 0 20px 20px 20px;
}