
<div class="project-details-container">
  <app-spinner [spinnerClass]="'spinner spinner-big spinner-fixed-bottom'" *ngIf="isLoadingProjectDetails; else details_template"></app-spinner>

  <ng-template #details_template>
    <div class="project-detail-content">
      <div> 
        <img src="assets/guitar.jpg" />
        <p><span>COLLABORATORS</span></p>

        <ul>
          <li (mouseenter)="popUpUserDetails()" (mouseleave)="hideUserDetails()" [style.backgroundImage]="'url('+ 'assets/guitar.jpg' +')'" *ngFor="let collaborator of project.collaborators">
            <div *ngIf="collaborator === 'tomasz'" class="avatar">
              <i class="material-icons">person</i>
            </div>

            <div *ngIf="isUserCartOpen" class="user-details-cart">
              <div class="user-header">
                <img class="shadow" src="assets/guitar.jpg" />
              </div>

              <div class="user-data">
                <p><b>Username</b><span>Tomasz</span></p>
                <p><b>Email</b><span>tomasz@wp.pl</span></p>
                <p><b>First name</b><span>Tomasz</span></p>
                <p><b>Last name</b><span>Tomaszkiewicz</span></p>
                <p><b>Number of tasks</b><span>13</span></p>
                <p><b>Number of projects</b><span>16</span></p>
              </div>
              <button class="circle-btn">
                Send message
              </button>
            </div>
          </li>
        </ul>
      </div>

      <div>
        <p>
          <span>{{project.name}}</span> 
          <span>{{project.creationDate | date: 'medium'}}</span>
        </p>
        <article>
            {{project.description}}
        </article>
      </div>


      <div>
        <p><span>TASKS CURRENTLY IN PROGRESS STATUS</span></p>
        <app-tasks-list [items]="project.tasks" [limit]="'10'">

        </app-tasks-list>
      </div>
      
    </div>

    <div class="btn-container">
        <button class="circle-btn">
          <a [routerLink]="['/manage', project.id]">Go to manage</a>
        </button>
    </div>

  </ng-template>

</div>
    
