<app-spinner *ngIf="isDoingRequest" [showBackdrop]="true" [spinnerClass]="'spinner spinner-small spinner-form'"></app-spinner>

<form [class]="formClass" (submit)="handleSubmit($event)" [ngClass]="{'scalled-form': isDoingRequest}">
  <div class="inputs-container">
    <section class="row" *ngFor="let item of formSettings; let i = index" [ngClass]="{'invalid-input': formStateItems[i].isAllErrorsResolved === false, 'correct-input': formStateItems[i].isAllErrorsResolved === true}">
        <input *ngIf="item.mode === 'input'" [value]="formStateItems[i].value" (focus)="fillErrorsOnFocusedInput(i)" (input)="handleTyping(i, $event)" (blur)="removeErrorList()" 
          [type]="item.type" [placeholder]="item.placeholder" />   
        <div *ngIf="item.mode === 'color-input'" class="picker-input-container">
            <input [value]="formStateItems[i].value" (focus)="fillErrorsOnFocusedInput(i)" (input)="handleTyping(i, $event)" (blur)="removeErrorList()" 
              [type]="item.type" [placeholder]="item.placeholder" />
            <app-selector [shouldHaveSaveButton]="false" [shouldIconBeColored]="true" [initialColorIcon]="'black'"
            [isPaleteOpen]="currentOpenedColorsIndex === i"
            (onCloseItems)="togleColorPalete(i)" (itemChanged)="changeColor($event, i)">
            </app-selector>
        </div>

        <div class="picker-input-container" *ngIf="item.mode === 'icon-picker'">
            <span>{{formStateItems[i].value === '' ? formSettings[i].placeholder : formStateItems[i].value}}</span>
            
            <app-selector 
            [shouldHaveSaveButton]="false" [pickerIcon]="formStateItems[i].value === '' ? 'label' : formStateItems[i].value" 
            [initialColorIcon]="'black'" [isSelectingIcons]="true"
            [isPaleteOpen]="currentOpenedIconPalete === i"
            (onCloseItems)="togleIconPalete(i)" (itemChanged)="changeIcon($event, i)">
            
            </app-selector>
        </div>

      <div [ngClass]="{'margined-span': formStateItems[i].isAllErrorsResolved !== null}">
        <i *ngIf="formStateItems[i].isAllErrorsResolved === false" class="material-icons">lock_outline</i>
        <i *ngIf="formStateItems[i].isAllErrorsResolved === true" class="material-icons">lock_open</i>
        
        <ul class="errors-list" *ngIf="formStateItems[i].isAllErrorsResolved === false && i === currentFocusedInput">
          <li *ngFor="let content of formStateItems[i].contents">
              <i *ngIf="content.isError === false" [style.color]="'#6ECF8E'" class="material-icons">check</i>
              <i *ngIf="content.isError === true" [style.color]="'#F35F5F'" class="material-icons">error_outline</i>
              <span>{{content.content}}</span>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <ng-content></ng-content>
  <div class="modal-footer">
    <div [ngStyle]="{'visibility': isFormDirty ? 'visible' : 'hidden'}" class="errors-icon-container">
        <i [ngStyle]="{'visibility': !isFormReadyToSubmit && isFormDirty ? 'visible' : 'hidden'}" class="material-icons error-color">error_outline</i>
        <ul *ngIf="shouldShowErrorsSpecifications && errorsSpecifications.length > 3; else yowza_item" class="errors-list">
          <li>
            <i [style.color]="'#F35F5F'" class="material-icons">do_not_disturb</i>
            <span>Yowza... a lot of errors in this field</span>
          </li>
        </ul>
        <ng-template #yowza_item>
          <ul *ngIf="shouldShowErrorsSpecifications" class="errors-list">
            <li *ngFor="let spec of errorsSpecifications">
              <i [style.color]="'#F35F5F'" class="material-icons">do_not_disturb</i>
              <span>In field {{formSettings[spec.index].label}} we found {{spec.numberOfErrors}} errors</span>
            </li>
          </ul>
        </ng-template>
    </div>
    <button [disabled]="(isFormDirty && !isFormReadyToSubmit) || isDoingRequest" type="submit" class="letter-btn">{{submitButtonTitle}}</button>
  </div>
</form>