<div class="main-container">
 <app-logged-navigation></app-logged-navigation>

  <div class="project-list-container">
    <p>YOUR PROJECTS</p>
    <ul>
      <li *ngFor="let project of projects; let i = index" [ngClass]="{'actual-watched-project': i === actualWatchedProject}">
        <div class="project-img">
            <img [src]="project.img" />
        </div>
        <div class="title-container">
            <span class="project-title">{{project.name}}</span>
        </div>
        <article>
          {{project.description}}
        </article>
        <button class="label-btn">Go to</button>
      </li>
    </ul>
    <footer>
      <button class="label-btn">WHOLE PAGE VIEW</button>
    </footer>
  </div>

  <div class="project-details-view">
    
  </div>
</div>