<div class="main-container">

  <app-logged-navigation [param]="actualWatchedProject" [path]="'/teammanage/projects/'"></app-logged-navigation>
  <app-spinner [showBackdrop]="true" [spinnerClass]="'spinner spinner-big page-spinner'" *ngIf="isDeletingProject"></app-spinner>
  <app-spinner [spinnerClass]="'spinner spinner-big page-spinner'" *ngIf="isFetchingProjects; else project_template"></app-spinner>
  
  <ng-template #project_template>
    <div class="project-list-container" *ngIf="projects.length > 0" [ngClass]="{'animate-slider': isSlideChanged}">
      <p>
        <span>YOUR PROJECTS</span> 
        <button debounceClick (click)="togleAddProjectModal()" class="label-btn">ADD PROJECT</button>

        <button debounceClick *ngIf="actualWatchedProject !== -1" (click)="closeProject()" class="label-btn">CLOSE PROJECT</button>
      </p>

      <app-pagination [items]="projects" [limit]="limit"></app-pagination>
      
      <ul>
        <li *ngFor="let project of projects; let i = index" [ngClass]="{'closed-project': project.closingDate}"
        [ngStyle]="{'display': (i >= leftRange && i < rightRange && leftRange !== -1) 
          ? 'initial' : 'none'}">
          <div class="project-img">
              <img src="assets/guitar.jpg" />
          </div>
          <div class="title-container">
              <span class="project-title">{{project.name}}</span>
              <span class="creation-date">created in: {{project.creationDate | date: 'medium'}}</span>
              <span *ngIf="project.closingDate" class="closing-date">closed in: {{project.closingDate | date: 'medium'}}</span>
          </div>
          <article>
            {{project.description}}
          </article>
          <div class="go-to-btn-container">
              <button debounceClick (click)="changeProject(project.id, i)" class="label-btn">Go to</button>
          </div>
  
          <div [ngClass]="{'actual-watched-project': project.id === actualWatchedProject && !isFullViewActivate}"></div>
        </li>
      </ul>
      <footer>
        <button class="label-btn">WHOLE PAGE VIEW</button>
      </footer>
    </div>

    <div *ngIf="projects.length === 0" class="empty-projects">
      <p>Your project list is empty. Please add new project first</p>
      <button (click)="togleAddProjectModal()" class="circle-btn">Add new project</button>
    </div>
  </ng-template>

  <router-outlet *ngIf="!isFetchingProjects"></router-outlet>
</div>

<app-modal *ngIf="isAddProjectModalOpen" [modalTitle]="'Add new project'"
(onClosingModal)="togleAddProjectModal()" [width]="'500px'">
    <div class="add-project-form-container">
        <app-form [isDoingRequest]="isAddingProject" [submitMethod]="addProject" 
        [formClass]="'stnd-form'" [formSettings]="addProjectFormSettings">

        </app-form>
    </div>
</app-modal>