.main-container{
    display: flex;
    flex-flow: column;
    .empty-projects{
        background: #424242;
        color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        padding: 55px 0;
        p{
            margin: 0;
            font-size: 18px;
            padding-bottom: 25px;
        }
    }
    div.whole-page-view{
      position: absolute;
      top: 0;
      min-height: 100vh;
      left: 0;
      z-index: 3;
      padding: 15px 0 15px 55px;
      background: rgba(0,0,0, .8);
      ul{
        overflow-y: auto;
        padding: 0;
      }
    }
    .pagination-page-view{
      top: 10px;
      padding: 15px 55px;
      ul{
        padding: 0 45px;
      }
    }
    .project-list-container{
        background: #424242;
        color: #98EE99;
        box-sizing: border-box;
        transition: .4s top;
        will-change: top;
        position: relative;
        p{
            margin: 0;
            display: flex;
            align-items: center;
            line-height: 25px;
            .pagination-view-btn{
              margin-left: auto;
            }
            button{
                color: #FFEEEE;
                margin-right: 20px;
            }
            span{
                font-size: 22px;
                margin-right: 28px;
            }
        }
        .whole-page-view{
          flex-flow: wrap;
        }
        ul{
            display: flex;
            margin-top: 15px;
            .closed-project{
                img{
                    opacity: .4;
                }
                .project-title, .closing-date, article{
                    color: #A2A2A2;
                }
            }
            li{
                position: relative;
                width: 300px;
                cursor: pointer;
                margin: 10px 15px;
                display: flex;
                flex-flow: column;
            }
        }
        footer{
            display: flex;
            box-sizing: border-box;
            padding: 25px 0 15px 0;
            button{
                color: #FFEEEE;
                margin-left: auto;
            }
        }
    }
}
.add-project-form-container{
    padding: 0 20px 20px 20px;
}
