<div class="searcher-container">
  <header>
    <div class="search-inpt-container">
        <input type="text" placeholder="start typing..." (input)="handleType($event)"/>
        <div>
          <i *ngIf="!isSearching" class="material-icons">search</i>
          <app-spinner *ngIf="isSearching" [spinnerClass]="'spinner spinner-small searcher-spinner'"></app-spinner>

        </div>
    </div>
    <i (click)="closeSearcher()" class="material-icons">close</i>
  </header>

  <div class="searched-content">
    <ul>
      <li *ngFor="let result of results; let i = index" class="shadow">
        <div class="image-container">
          <img *ngIf="result.picturePath" [handleImage]="''" [src]="userPicturesBasePath + result.picturePath" alt="picture"/>
          <div *ngIf="!result.picturePath" class="empty-image">
            <i class="material-icons">person</i>
          </div>
          <span>{{result.id}}</span>
        </div>

        <p>
          <i class="material-icons">person</i>
          <span> {{result.firstName}} {{result.lastName}}</span>
          <i class="material-icons">email</i>
          <span>{{result.email}}</span>
        </p>
        <app-togler [listClass]="'cart-list shadow'" (onSelectItem)="assignTaskToPerson($event, result, i)" [items]="roles" title="ASSIGN TO PROJECT" btnClass="label-btn">
        </app-togler>
        <app-spinner [showBackdrop]="true" *ngIf="currentAssigningPerson === i" [spinnerClass]="'spinner spinner-small spinner-form'"></app-spinner>
      </li>
    </ul>
  </div>

</div>
