.searcher-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(66, 66, 66, 0.75);
    color: white;
    z-index: 3;
    display: flex;
    flex-flow: column;
    header{
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > i{
            margin-right: 10px;
            cursor: pointer;
        }
        .search-inpt-container{
            display: flex;
            align-items: center;
            width: 45%;
            position: relative;
            justify-content: space-between;
            input{
                border: none;
                width: 100%;
                padding: 12.5px 50px 12.5px 12.5px;
                box-sizing: border-box;
                border-bottom: 1px solid white;
                font-size: 24px;
                color: white;
                &::placeholder{
                    font-size: 24px;
                    color: #D0D0D0;
                }
            }
            & > div{
                position: absolute;
                right: 10px;
                i{
                    font-size: 28px;
                }
            }
        }
    }
    .searched-content{
        ul{
            display: flex;
            padding: 15px;
            flex-flow: wrap;
            li{
                padding: 15px;
                position: relative;
                width: 30%;
                box-sizing: border-box;
                margin: 15px;
                border-radius: 5px;
                background: white;
                color: black;
                display: flex;
                flex-flow: column;
                .image-container{
                    display: flex;
                    align-items: center;
                    span{
                        margin-left: 15px;
                        font-size: 22px;
                    }
                    img{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                    }
                }
                p{
                    display: flex;
                    align-items: center;
                    span, i{
                        color: #707070;
                        font-size: 13px;
                    }
                    span{
                        margin-right: 10px;
                    }
                    i{
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    
}