.selector-container{
    position: relative;
    .selector-items-container{
      width: 200px;
      ul{
        display: flex;
        height: 200px;
        flex-flow: wrap;
        li{
            height: 25px;
            width: 25px;
            margin: 10px;
        }
      }
    }
    & > div{
        position: absolute;
        display: flex;
        z-index: 3;
        flex-flow: column;
        background: white;
        right: 10px;
        top: 30px;
        padding: 10px 10px 0 10px;
        box-shadow: 0 3px 20px rgba(0,0,0,.4);
        ul{
          overflow-y: auto;
          li{
            cursor: pointer;
          }
        }
        button{
          padding: 15px 0;
          color: #424242;
          margin-left: auto;
        }
    }
}
