<header class="home-nav-container">
    <nav>
        <app-logo></app-logo>
        <app-togler [items]="toglerItems" title="Content" btnClass="nav-btn"></app-togler>
        <div class="nav-btn-container">
            <button (click)="togleLoginModal()" class="nav-btn nav-btn-bg" title="Log in">Login</button>
            <button class="nav-btn" title="Register">Register</button>
        </div>
    </nav>

    <div class="nav-content">
        <div>
            <h1>Control the process of project creation and management</h1>
            <p>
                Start using the best tools to create a project from scratch. Select your employees
                and give them tasks. You can comment it in every time and make time stamps for every task.
                Enable rating mode and do it in best UX way.
            </p>
            <button class="big-btn">START USING</button>
        </div>
    </div>
</header>


<app-modal *ngIf="isLoginModalOpen" [modalTitle]="'Log into your account'"
(onClosingModal)="togleLoginModal()" [width]="'500px'" [height]="'620px'">
    <div class="login-form-container">
        <div class="image-holder">
            <img src="assets/guitar.jpg" alt="picture"/>
        </div>
        <app-form [formClass]="'login-form'" [formSettings]="loginFormSettings">
            <div (click)="remaindPassword()" class="remaind-password">
                remaind password
            </div>

            <div class="checkbox-container">
                <input (change)="rememberPassword($event)" type="checkbox" />
                <span>remember me</span>
            </div>
        </app-form>
    </div>

</app-modal>