.home-nav-container{
    background-image: linear-gradient(to right top, #6495da, #5792db, #478edb, #328bdc, #0588dc);
    color: white;
    & > *{
        width: 1200px;
        padding: 20px 0;
        display: flex;
        margin: 0 auto;
        align-items: center;
    }
    .nav-btn-container{
        margin-left: auto;
        & > *{
            margin-left: 10px;
        }
    }   
    .nav-content{
        & > div:first-of-type{
            max-width: 55%;
            button{
                margin: 15px 0 0 0;
            }
        }
    }
    
}

.login-form-container{
    height: calc(100% - 80px);
    padding: 20px;
    box-sizing: border-box;
    .image-holder{
        width: 75px;
        height: 75px;
        margin: 20px auto;
        img{
            border-radius: 50%;
        }
    }
    .login-modal-footer{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        i{
            font-size: 32px;
            cursor: pointer;
        }
    }
    .remaind-password{
        margin-left: auto;
        color: #707070;
        cursor: pointer;
        padding: 15px 45px;
    }
    .checkbox-container{
        padding: 15px 45px;
        display: flex;
        align-items: center;
        input{
            border: 1px solid #AAAAAA;
            width: 20px;
            height: 20px;
            background: transparent;
        }
        span{
            color: #AAAAAA;
            margin-left: 7.5px;
            font-size: 14px;
        }
    }
}

