ul{
    display: flex;
    flex-flow: wrap;
    padding: 0 15px;
    li{
        position: relative;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        margin: 10px;
        .avatar{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #424242;
            color: #98EE99;
        }
        .user-details-cart{
            position: fixed;
            left: 0;
            z-index: 3;
            width: 350px;
            cursor: initial;
            bottom: 0;
            padding-bottom: 25px;
            height: 100%;
            background: rgb(66, 66, 66);
            color: white;
            display: flex;
            flex-flow: column;
            .image-container{
              height: 250px;
              display: flex;
              align-items: center;
              justify-content: center;
              .empty-image{
                height: 50px;
                width: 50px;
                display: inherit;
                justify-content: inherit;
                align-items: inherit;
                i{
                  font-size: 40px;
                  color: #98EE99;
                }
              }
              img:not(.broken-image){
                width: 100%;
                border-radius: 0;
                height: auto;
              }
            }
            .circle-btn{
                margin: auto auto 0 auto;
                width: 90%;
                color: #FFEEEE;
                border-color: #FFEEEE;
            }
            .label-btn{
                color: #FFEEEE;
                margin: 25px auto 0 auto;
            }
            .user-data{
                padding: 0 15px;
                p{
                    padding: 15px;
                    color: #E4E4E4;
                    display: flex;
                    justify-content: space-between;
                    span{
                        color: #98EE99;
                    }
                }
            }
        }
        i{
            z-index: 1;
            font-size: 22px;
        }
    }
}
.add-user-form-container{
  padding: 0 20px 20px 20px;
}
