<ul>
  <li (click)="togleUserDetails($event, i)" [style.backgroundImage]="'url('+ userPicturesBasePath + user.picturePath +')'" *ngFor="let user of users; let i = index">
    <div *ngIf="!user.picturePath" class="avatar">
      <i class="material-icons">person</i>
    </div>

    <div *ngIf="currentOpenedUserCartIndex === i" class="user-details-cart">
      <div class="image-container">
        <img [src]="userPicturesBasePath + user.picturePath" [style.visibility]="user.picturePath ? 'visible' : 'hidden'"/>
        <div class="empty-image" *ngIf="!user.picturePath">
          <i class="material-icons">person</i>
        </div>
     </div>
      <div class="user-data">
        <p><b>Username</b><span>{{user.userName}}</span></p>
        <p><b>Email</b><span>tomasz@wp.pl</span></p>
        <p><b>First name</b><span>Tomasz</span></p>
        <p><b>Last name</b><span>Tomaszkiewicz</span></p>
        <p><b>Number of tasks</b><span>13</span></p>
        <p><b>Number of projects</b><span>16</span></p>
      </div>

      <button class="circle-btn" (click)="togleEditUserModal()">
        EDIT ACCOUNT DATA
      </button>

      <button (click)="togleUserDetails($event)" class="label-btn">
        <i class="material-icons animated-icon">close</i>
        CLOSE
      </button>
    </div>
  </li>
</ul>

<app-modal *ngIf="isEditUserDataModalOpen" [modalTitle]="'Edit your user data'"
(onClosingModal)="togleEditUserModal()" [width]="'500px'">
  <div class="add-user-form-container">
    <app-form [isDoingRequest]="isEditingUserData" [submitMethod]="saveUserData"
    [formClass]="'stnd-form'" [formSettings]="editUserDataFormSettings">
    </app-form>
  </div>
</app-modal>
