<ul>
  <li (click)="togleUserDetails($event, i)" [style.backgroundImage]="'url('+ userPicturesBasePath + user.picturePath +')'" *ngFor="let user of users; let i = index">
    <img [handleImage]="''" *ngIf="user.picturePath" [src]="userPicturesBasePath + user.picturePath" />
    <div *ngIf="!user.picturePath" class="avatar">
      <i class="material-icons">person</i>
    </div>

    <div *ngIf="currentOpenedUserCartIndex === i" class="user-details-cart">
      <div class="image-container">
        <img *ngIf="user.picturePath" [handleImage]="'broken-image-white'" [src]="userPicturesBasePath + user.picturePath" />
        <div class="empty-image" *ngIf="!user.picturePath">
          <i class="material-icons">person</i>
        </div>
     </div>
      <div class="user-data">
        <p><b>Username</b><span>{{user.id}}</span></p>
        <p><b>Email</b><span>{{user.email}}</span></p>
        <p><b>First name</b><span>{{user.firstName}}</span></p>
        <p><b>Last name</b><span>{{user.lastName}}</span></p>
        <p><b>Number of tasks</b><span>{{user.numberOfTasks}}</span></p>
      </div>

      <button class="circle-btn" (click)="togleEditUserModal()">
        REMOVE FROM PROJECT
      </button>

      <button (click)="togleUserDetails($event)" class="label-btn">
        <i class="material-icons animated-icon">close</i>
        CLOSE
      </button>
    </div>
  </li>
</ul>
