ul{
    display: flex;
    flex-flow: wrap;
    padding: 0 15px;
    li{
        position: relative;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        margin: 10px;
        .avatar{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #424242;
            color: #98EE99;
        }
        .user-details-cart{
            position: fixed;
            left: 0;
            z-index: 3;
            width: 350px;
            cursor: initial;
            bottom: 0;
            padding-bottom: 25px;
            height: 100%;
            background: rgba(0,0,0,.6);
            color: white;
            display: flex;
            flex-flow: column;
            .circle-btn{
                margin: auto auto 0 auto;
                width: 90%;
            }
            .user-header{

            }
            .user-data{
                p{
                    padding: 15px;
                    color: #E4E4E4;
                    display: flex;
                    justify-content: space-between;
                    span{
                        color: #98EE99;
                    }
                }
            }
        }
        i{
            z-index: 1;
            font-size: 22px;
        }
    }
}