
<div [class]="'file-select ' + classes">
  <ng-container *ngIf="shouldShowAddedImage">
    <img #imgRef src="" [style.opacity]="selectedFile ? '1' : '0'"/>
    <div class="file-overview" *ngIf="selectedFile">
      {{selectedFile.name ? selectedFile.name : 'select your file name...'}}
    </div>
  </ng-container>

  <input type="file" [style.display]="'none'" (change)="addFile($event)" #inputRef/>
  <button [class]="btnClass" (click)="openAddingFile()" type="button">
    <ng-container *ngIf="!normalBtn">
      <i class="material-icons">image</i>
      <i class="material-icons i-on-blue">add</i>
    </ng-container>

    <ng-container *ngIf="normalBtn">
      <i class="material-icons image-icon">
        image
      </i>
      CHANGE AVATAR
    </ng-container>

  </button>
</div>
