.labels-container{
  width: 150px;
  ul{
    max-height: 250px;
    li{
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        max-width: 85%;
      }
    }
  }
}
