
<app-error-handler [isLoading]="isDownloadingTasks" [operationName]="'projectDetails'">
<nav>
  <div class="left-nav-content">
    <button class="label-btn">BOARD</button>
    <button class="circle-nav-btn">ADD STATUS</button>
  </div>
  <div class="spacer"></div>
  <div class="right-nav-content">
    <button class="label-btn">IN PROGRESS</button>
    <button class="label-btn">TEST</button>
    <button class="label-btn">DONE</button>
  </div>
</nav>

<div class="tasks-container">
  <div class="legend">
    <p>LEGEND</p>
    <div class="legends-container">
        <div class="task-label" *ngIf="projectLabels.length === 0">
            <span class="empty-content">this project doesn't have any labels... <i class="material-icons">do_not_disturb_alt</i></span>
        </div>
        <div [style.color]="label.color" *ngFor="let label of projectLabels" class="task-label">
          <span>{{label.name | uppercase}}</span> <i class="material-icons">{{label.icon}}</i>
          <p class="label-operations">
            <i (click)="togleEditLabelModal(label)" class="material-icons edit-color animated-icon">edit</i>
            <i (click)="togleDeleteLabelModal(label.id)" class="material-icons delete-color animated-icon">delete</i>
          </p>
        </div>
    </div>
    <p>
      <button (click)="togleAddLabelModal()" class="label-btn"><i class="material-icons animated-icon">label</i> ADD LABEL</button>
    </p>
  </div>
  <div class="tasks-lists-container">
      
      <div class="list-container" *ngFor="let name of bucketsListsKeys; let i = index">
          <p>
              <span><b>{{bucketsNames[i] | uppercase}}</b> <i>status</i></span> 
          </p>
          <app-tasks-list [projectId]="projectId" [items]="buckets[name]" [limit]="'10'">
            </app-tasks-list>
      </div>
    
  </div>

</div>
  


<app-modal *ngIf="isAddLabelModalOpen" [modalTitle]="'Add label into this project'"
(onClosingModal)="togleAddLabelModal()" [width]="'500px'">
  <div class="form-wrapper">
      <app-form [isDoingRequest]="isAddingLabel" [submitMethod]="addLabel"
        [formClass]="'stnd-form'" [formSettings]="addLabelFormSettings">

      </app-form>
  </div>
</app-modal>

<app-modal *ngIf="labelIdToEdit !== -1" [modalTitle]="'Edit selected label'"
(onClosingModal)="togleEditLabelModal()" [width]="'500px'">
  <div class="form-wrapper">
      <app-form [isDoingRequest]="isEditingLabel" [submitMethod]="editLabel"
        [formClass]="'stnd-form'" [formSettings]="editLabelFormSettings">

      </app-form>
  </div>
</app-modal>

<app-confirm-prompt *ngIf="labelIdToDelete !== -1" [btnTitle]="'Delete label'" [icon]="'delete'" 
(onConfirm)="deleteLabel()"
(onClosingPrompt)="togleDeleteLabelModal()"
[header]="'Are you sure you want delete this label?'"
[subHeader]="'This operation is permanent and cannot be denied'">
<app-spinner [showBackdrop]="true" [spinnerClass]="'spinner spinner-small spinner-form'" *ngIf="isDeletingLabel"></app-spinner>

</app-confirm-prompt>


</app-error-handler>
