
    nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    .left-nav-content, .right-nav-content{
        background: #717171;
        display: flex;
        align-items: center;
        padding: 0 30px;
    }
    .left-nav-content{
        width: 60%;
        .label-btn{
            color: #FFE1E1;
            font-size: 20px;
        }
        .circle-nav-btn{
            padding: 10px 25px;
            border-radius: 39px;
            background: transparent;
            border: 1px solid #98EE99;
            margin-left: auto;
            color: #98EE99;
            font-size: 10px;
        }
    }
    .right-nav-content{
        width: 39.5%;
        border-left: 7px solid white;
        button{
            color: #98EE99;
            font-weight: bolder;
            margin-right: 35px;
        }
    }
}
.tasks-container{
    width: 96%;
    margin: 0 auto;
    padding: 15px;
    .legend{
        margin: 30px 30px 20px 30px;
        border-bottom: 1px solid #BEBEBE;
        p{
            color: #424242;
            font-size: 22px;
            font-weight: 400;
        }
        .legends-container{
            padding: 0 30px;
            display: flex;
            flex-flow: wrap;
            div{
                margin: 10px;
                font-weight: bolder;
            }
        }
        .label-btn{
            color: #424242;
            font-weight: bolder;
            align-items: center;
            display: flex;
        }
        p:last-of-type{
            .label-btn{
                margin-left: auto;
            }
        }
    }
    .tasks-lists-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 20px 30px;
        .list-container{
            width: 30%;
            p{
                margin-bottom: 35px;
                span{
                    color: #424242;
                    position: relative;
                    padding: 0 55px 10px 0;
                    border-bottom: 4px solid #424242;
                    position: relative;
                    b{
                        font-size: 26px;
                    }
                    i{
                        color: #BEBEBE;
                        font-style: unset;
                        position: absolute;
                        margin-left: 10px;
                        top: -25px;
                    }
                }
            }
        }
    }
}
