.loading-bg{
    position: absolute;
    top: 0;
    z-index: 2;
    right: 0;
    background: rgba(244, 244, 244, 0.83);
    width: 100%;
    height: 100%;
}
.spinner-fixed-bottom{
    position: fixed;
    bottom: 25px;
    right: 25px;
}
.spinner{
    border-radius: 50%;
    border-right-color: transparent;
    animation: .5s animate-spinner ease-in infinite;
    border: 2px solid #0588dc;
    border-top-color: transparent;
    z-index: 3;
    @keyframes animate-spinner {
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(360deg);
        }
    }
}
.searcher-spinner{
    border-color: white;
    margin-bottom: 2px;
    border-top-color: transparent;
}
.page-spinner{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
}
.spinner-big{
    height: 45px;
    width: 45px;
}
.spinner-small{
    height: 20px;
    width: 20px;
}
.spinner-form{
    right: 25px;
    position: absolute;
    bottom: 25px;
}
.interactive-options-spinner{
  margin-left: 15px;
}
