.navigation-container{
    background: #424242;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    nav{
        width: 1200px;
        margin: 0 auto;
        button{
            margin-right: 15px;
        }
    }
    div{
      display: inherit;
      align-items: inherit;
      .user-settings-btn{
        margin-right: 30px;
      }
    }
    & > button{
        position: absolute;
        right: 25px;
        top: 0;
        color: #D47D7D;
        &:hover{
            border-bottom-color: #D47D7D;
        }
    }
    .active{
        border-bottom-color: #98EE99;
        &:hover{
            border-bottom-color: initial;
        }
    }
}
.actual-path-container{
    padding: 15px 55px 5px 55px;
    display: flex;
    color: #424242;
    align-items: center;
    justify-content: space-between;
}
.user-settings-btn{
  color: white;
  background: transparent;
  border: none;
}
.user-profile{
  max-width: 500px;
  min-height: 500px;
  display: grid;
  grid-template-rows: 1fr 1fr 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "settings image"
  "content content"
  "footer footer";

  .options, .image-content{
    background: rgba(152, 152, 152, 0.13);
  }
  .options{
    grid-area: settings;
    padding: 15px;
    display: flex;
    flex-flow: column;
    p{
      margin: 0;
      font-size: 22px;
      margin-bottom: 25px;
    }
    & > button{
      color: #D47D7D;
      margin-top: auto;
    }
    .operations{
      button{
        margin-bottom: 20px;
      }
    }
  }
  .image-content{
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
      font-size: 48px;
    }
    img{
      border-radius: 0;
      width: 100%;
      height: 100%;
    }
  }
  .account-details{
    grid-area: content;
    padding: 20px;
    display: flex;
    flex-flow: wrap;
    .detail{
      display: flex;
      flex-flow: column;
      margin: 10px 30px;
    }
    span:first-of-type{
      color: #BEBEBE;
      margin-bottom: 5px;
      font-size: 12px;
    }
    span:last-of-type{
      font-size: 16px;
    }
  }
  .done-btn{
    color: #6495DA;
    margin: 0 auto;
    grid-area: footer;
    font-size: 20px;
  }
}
