<div class="tasks-list-container" dropDirective (dropEvent)="dropTask($event, bucket)">
  <app-spinner [showBackdrop]="true" [spinnerClass]="'spinner spinner-small spinner-form'" *ngIf="isDeletingTask"></app-spinner>

  <ul *ngIf="items.length > 0; else empty_content">
    <li *ngFor="let item of items | sort : 'name' : 'asc'; let i = index" (startDrag)="startDrag(item, i, bucket)" [dragDirective]="item">
      <div class="task-operations" *ngIf="!isProjectClosed">
        <app-label-selector *ngIf="shouldShowLabelSelector" [labels]="projectLabels" [operationTitle]="'Save label'" [taskId]="item.id" (labelSaved)="refreshLabelState($event, i)">

        </app-label-selector>
        <i *ngIf="!item.user" (click)="togleAssignToTaskPersonModal(item.id)" class="material-icons animated-icon">assignment_returned</i>
        <i (click)="startTimer(i, item.id)" *ngIf="item.user && item.timer === 'START' && shouldLetStartingTasks" class="material-icons animated-icon">play_circle_outline</i>
        <i (click)="stopTimer(i, item.id)" *ngIf="item.timer === 'STOP' && shouldLetStartingTasks" class="material-icons animated-icon">pause_circle_outline</i>
        <i (click)="togleEditTaskModal(item.id)" class="material-icons edit-color animated-icon">edit</i>
        <i (click)="togleDeleteTaskPrompt(item.id)" class="material-icons delete-color animated-icon">delete</i>
      </div>

      <app-spinner [spinnerClass]="'spinner spinner-small spinner-form'" *ngIf="isChangingTime"></app-spinner>

      <div class="main-task-content">
        <div class="task-content">
          <span>{{i+1}}</span>
          <div>
            <b>{{item.name}}</b>
            <span>{{item.description}}</span>
          </div>
        </div>

        <div class="task-label" *ngIf="item.label">
          <span class="label-bar" [style.background]="item.label.color"></span>
          <span [style.color]="item.label.color">{{item.label.name}}</span>
          <i [style.color]="item.label.color" class="material-icons">{{item.label.icon}}</i>
        </div>

        <app-timer [initialTime]="item.sumOfTime" [timerState]="item.timer">

        </app-timer>
      </div>

      <div class="user-label" *ngIf="item.user">
        <img [handleImage]="'broken-image-white'" *ngIf="item.user.picturePath" [src]="userPicturesBasePath + item.user.picturePath" />
        <i *ngIf="!item.user.picturePath" class="material-icons">person</i>
        <span>{{item.user.firstName}} {{item.user.lastName}}</span>
      </div>

      <div class="user-label" *ngIf="!item.user">
          <span>This task doesn't have assigned user</span>
      </div>

      <app-comments-list [taskId]="item.id">

      </app-comments-list>
    </li>
  </ul>

  <ng-template #empty_content>
    <div class="empty-tasks">
      <i class="material-icons">do_not_disturb_alt</i>
      <p>
        Right now you doesn't have any tasks in progress for this project
      </p>
    </div>
  </ng-template>
  <div class="row" *ngIf="!isProjectClosed">
    <button (click)="togleAddTaskModal()" class="label-btn operation-color">ADD NEW TASK</button>
  </div>
</div>

<app-modal *ngIf="isEditTaskModalOpen" [modalTitle]="'Editing selected task'"
(onClosingModal)="togleEditTaskModal()" [width]="'500px'">
  <div class="task-form">
      <app-form [isDoingRequest]="isEditingTask" [submitMethod]="editTask"
        [formClass]="'stnd-form'" [formSettings]="editTaskFormSettings">

      </app-form>
  </div>
</app-modal>

<app-confirm-prompt *ngIf="isDeleteTaskPromptOpen" [btnTitle]="'Delete task'" [icon]="'delete'"
(onConfirm)="deleteTask()"
(onClosingPrompt)="togleDeleteTaskPrompt()"
[header]="'Are you sure you want delete this task?'"
[subHeader]="'This operation is permanent and cannot be denied'">

</app-confirm-prompt>

<app-modal *ngIf="isAddTaskModalOpen" [modalTitle]="'Add new task'"
(onClosingModal)="togleAddTaskModal()" [width]="'500px'">
  <div class="task-form">
      <app-form [isDoingRequest]="isAddingTask" [submitMethod]="addTask"
      [formClass]="'stnd-form'" [formSettings]="addTaskFormSettings">

      </app-form>
  </div>
</app-modal>


<app-modal *ngIf="idOfTaskToAssign !== -1" [modalTitle]="'Assign person to task'"
(onClosingModal)="togleAssignToTaskPersonModal()" [width]="'500px'">
  <div class="task-form">
      <app-form [isDoingRequest]="(isAssigningToTask || isLoadingUsers) ? true : false" [submitMethod]="assignToTaskPerson"
      [formClass]="'stnd-form'" [formSettings]="findUserFormSettings">

      </app-form>
  </div>
</app-modal>
