<div class="tasks-list-container">
  <app-spinner [showBackdrop]="true" [spinnerClass]="'spinner spinner-small spinner-form'" *ngIf="isDeletingTask"></app-spinner>

  <ul *ngIf="items.length > 0; else empty_content">
    <li *ngFor="let item of items | sort : 'name' : 'asc'; let i = index">
      <div class="task-operations">
        <app-selector
        [isPaleteOpen]="currentOpenedColorsIndex === item.id" [isSavingItem]="isSavingTaskColor" 
        (onSavedItem)="saveTaskColor($event)"
        (onCloseItems)="togleColorPalette(item.id)" (itemChanged)="changeTaskColor($event, item.id)">
        </app-selector>
        <i (click)="togleEditTaskModal(item.id)" class="material-icons edit-color animated-icon">edit</i>
        <i (click)="togleDeleteTaskPrompt(item.id)" class="material-icons delete-color animated-icon">delete</i>
      </div>
      <div class="main-task-content">
        <div class="task-content">
          <span>{{i+1}}</span> 
          <div>
            <b>{{item.name}}</b>
            <span>{{item.description}}</span>
          </div>
        </div>
    
        <div class="task-label"><span>BACKEND</span> <i class="material-icons">dns</i></div>
        
        <p class="time-to-end">
          <i class="material-icons">av_timer</i>
          <b>1 dzień 11h</b>
          <span>pozostało</span>
        </p>
      </div>

      <p class="interactive-operations">
          <span [style.background]="item.color"></span>
          <i class="material-icons animated-icon">comment</i>
      </p>
      <div class="user-label">
        <i class="material-icons">person</i>
        <span>TOMASZ NOWOCZESNY</span>
      </div>
    </li>
  </ul>

  <ng-template #empty_content>
    <div class="empty-tasks">
      <i class="material-icons">do_not_disturb_alt</i>
      <p>
        Right now you doesn't have any tasks in progress for this project
      </p>
    </div>
  </ng-template>
  <div class="row">
    <button (click)="togleAddTaskModal()" class="label-btn operation-color">ADD NEW TASK</button>
  </div>
</div>

<app-modal *ngIf="isEditTaskModalOpen" [modalTitle]="'Editing selected task'"
(onClosingModal)="togleEditTaskModal()" [width]="'500px'">
  <div class="task-form">
      <app-form [isDoingRequest]="isEditingTask" [submitMethod]="editTask"
        [formClass]="'stnd-form'" [formSettings]="editTaskFormSettings">

      </app-form>
  </div>
</app-modal>

<app-confirm-prompt *ngIf="isDeleteTaskPromptOpen" [btnTitle]="'Delete task'" [icon]="'delete'" 
(onConfirm)="deleteTask()"
(onClosingPrompt)="togleDeleteTaskPrompt()"
[header]="'Are you sure you want delete this task?'"
[subHeader]="'This operation is permanent and cannot be denied'">

</app-confirm-prompt>

<app-modal *ngIf="isAddTaskModalOpen" [modalTitle]="'Add new task'"
(onClosingModal)="togleAddTaskModal()" [width]="'500px'">
  <div class="task-form">
      <app-form [isDoingRequest]="isAddingTask" [submitMethod]="addTask" 
      [formClass]="'stnd-form'" [formSettings]="addTaskFormSettings">

      </app-form>
  </div>
</app-modal>