.togler{
    display: flex;
    position: relative;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: unset;
        i{
            transition: .4s;
        }
        .rotated{
            transform: rotate(180deg);
        }
    }
    .label-btn{
        margin-left: auto;
    }
    .nav-togler{
        right: -125px;
        top: 25px;
        li{
            min-width: 125px;
        }
    }
    .cart-list{
        right: 0;
        top: 35px;
    }
    ul{
        z-index: 1;
        background: white;
        position: absolute;
        color: #424242;
        li{
            padding: 15px;
            cursor: pointer;
            display: flex;
            align-items: center;
            &:hover{
                background: #f2f2f2;
            }
            i{
                margin-right: 10px;
            }
        }
    }
}
